[Unit]
Description=iranvless panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=iranvless-panel
WorkingDirectory=/opt/iranvless-config/iranvless-panel/
Environment="LANG=C.UTF-8"
ExecStartPre=/bin/bash -c "/bin/kill -INT $(/usr/bin/pgrep -f 'iranvlesspanel')||echo 'nothing to kill'"
ExecStart=/usr/local/bin/uwsgi --ini /opt/iranvless-config/iranvless-panel/uwsgi.ini
#ExecReload=/bin/kill -HUP $MAINPID
RestartSec=5
ExecStop=/bin/bash -c "/bin/kill -INT $(/usr/bin/pgrep -f 'iranvlesspanel')||echo 'nothing to kill'"
#ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardOutput=file:/opt/iranvless-config/log/system/iranvless_panel.out.log
StandardError=file:/opt/iranvless-config/log/system/iranvless_panel.err.log
[Install]
WantedBy=multi-user.target


#lsof | awk -v pattern="/hiddifypanel/" '$9 ~ pattern {print $2}'| sort -u| xargs echo kill
